@import 'header';
@import 'variables';
@import 'card';
@import 'buttons';
@import 'form';
@import 'flash';
@import 'task';
@import 'profile';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  font-family: Avenir;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

.container {
  padding: 16px 30px;
  width: 100%;
}