@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $base-bg-color;
  padding: $header-padding-y 16px;
  border-bottom: solid 1px #e1dddd;

  &_pageTitle {
    color: $text-base-color;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: $border-radius;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: #F4F4F4;
}

.dropdown-content p {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content p:hover {
  background-color: #F4F4F4;
}

.dropdown:hover .dropdown-content {
  display: block;
}